/* styles/Popup.module.css */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px)
}

.popup {
  position: relative;
  background: var(--main-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup h2 {
  margin-top: 5px;
}

.buttonContainer {
  margin-top: 30px; 
}

.popupButton {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background: var(--accent-color);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.popupButton:hover {
  background: #005bb5;
}

.popupClose {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px; 
  width: 20px;
  height: 20px;
  border: none;
  background: #ccc;
  color: black;
  cursor: pointer;
  border-radius: 30%; 
  transition: background 0.3s ease;
}

.popupClose:hover {
  background: #999;
}
